@keyframes sLideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

  @media only screen and (max-width: 600px) {
    h1{
        text-size-adjust: 150px;
    }
}

#image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover ;
    object-position: center 50%;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

nav {
    width:90%;
    height: 300px; 
    background: #ffffff;
    padding: 20px;
}

article {
    padding: 20px;
    width: 90%;
    background-color: #ffffff;
    height: 300px;
}

.start_bt{
    text-align: center;
    padding-top: 10px;
    width: 500px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;

}

.answer_bt_no:hover{
    background-color: rgb(255, 146, 146);
    transition: 1s;
}

.answer_bt_yes:hover{
    background-color: rgb(137, 230, 160);
    transition: 1s;
}